body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0d1117;
    font-family: Arial, sans-serif;
    color: #c9d1d9;
}

h2 {
    text-align: center;
}

.card {
    background: #161b22;
    padding: 30px;
    border: 3px gold;
    outline-style: dotted;
    outline-color: goldenrod;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 0 20px rgba(248, 170, 0, 0.904);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #0d1117;
    color: #fff;
}

button {
    margin-top: 10px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #238636;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #2ea043;
}

a {
    margin-top: 10px;
    text-align: center;
    color: #58a6ff;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}